#### Huzaifa Kapasi- MIT License

## In this section, we will learn about SQL basic commands and perform Data Preprocessing using it

In [1]:
from pyspark import SparkConf
from pyspark import SparkContext
from pyspark.sql import SQLContext
from pyspark.sql.functions import UserDefinedFunction
from pyspark.sql.types import *


sqlContext = SQLContext(sc)
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local[5]').appName('SparkSQL').getOrCreate()

### Read the Trip Data from CSV

In [2]:
tripData = spark.read.csv(path='H:/Training/PySpark/data/trip_data/trip_data_1.csv', header=True, inferSchema=True)

## Read Fare Dataframe from CSV

In [3]:
fareData = spark.read.csv(path='H:/Training/PySpark/data/trip_fare/trip_fare_1.csv', header=True, inferSchema=True)

## CHECK SCHEMA OF TRIP AND FARE TABLES

In [4]:
tripData.printSchema()
fareData.printSchema()

root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- vendor_id: string (nullable = true)
 |-- rate_code: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_time_in_secs: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)

root
 |-- medallion: string (nullable = true)
 |--  hack_license: string (nullable = true)
 |--  vendor_id: string (nullable = true)
 |--  pickup_datetime: timestamp (nullable = true)
 |--  payment_type: string (nullable = true)
 |--  fare_amount: double (nullable = true)
 |--  surcharge: double (nullable = true)
 |--  mta_tax: double (nullable = true)
 |--  tip_amount: double (nullable = true)
 |--  tolls_amount: double (nullable = true)
 |--  total_amount: double (nullable = true)

In [5]:
## REGISTER DATA-FRAMEs AS A TEMP-TABLEs IN SQL-CONTEXT
tripData.createOrReplaceTempView("trip")
fareData.createOrReplaceTempView("fare")

### Select Statement

In [5]:
query="SELECT * from trip LIMIT 20"
fareData = spark.sql(query)

In [6]:
fareData.show()

+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
|           medallion|        hack_license|vendor_id|rate_code|store_and_fwd_flag|    pickup_datetime|   dropoff_datetime|passenger_count|trip_time_in_secs|trip_distance|pickup_longitude|pickup_latitude|dropoff_longitude|dropoff_latitude|
+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|
|0BD7C8F5BA12B88E0...|9FD8F69F0804BDB55...|      CMT|        1|                 N|2013-01-06 00:18:35|2013-01-06 00:22:54|              1|              259|          1.5|      -74.006683|      40.731781|       -73.994499|        40.75066|
|0BD7C8F5BA12B88E0...|9FD8F69F0804BDB55...|      CMT|        1|                 N|2013-01-05 18:49:41|2013-01-05 18:54:23|              1|              282|          1.1|      -74.004707|       40.73777|       -74.009834|       40.726002|
|DFD2202EE08F7A8DC...|51EE87E3205C985EF...|      CMT|        1|                 N|2013-01-07 23:54:15|2013-01-07 23:58:20|              2|              244|          0.7|      -73.974602|      40.759945|       -73.984734|       40.759388|
|DFD2202EE08F7A8DC...|51EE87E3205C985EF...|      CMT|        1|                 N|2013-01-07 23:25:03|2013-01-07 23:34:24|              1|              560|          2.1|       -73.97625|      40.748528|       -74.002586|       40.747868|
|20D9ECB2CA0767CF7...|598CCE5B9C1918568...|      CMT|        1|                 N|2013-01-07 15:27:48|2013-01-07 15:38:37|              1|              648|          1.7|      -73.966743|      40.764252|       -73.983322|       40.743763|
|496644932DF393260...|513189AD756FF14FE...|      CMT|        1|                 N|2013-01-08 11:01:15|2013-01-08 11:08:14|              1|              418|          0.8|      -73.995804|      40.743977|       -74.007416|       40.744343|
|0B57B9633A2FECD3D...|CCD4367B417ED6634...|      CMT|        1|                 N|2013-01-07 12:39:18|2013-01-07 13:10:56|              3|             1898|         10.7|      -73.989937|      40.756775|        -73.86525|        40.77063|
|2C0E91FF20A856C89...|1DA2F6543A62B8ED9...|      CMT|        1|                 N|2013-01-07 18:15:47|2013-01-07 18:20:47|              1|              299|          0.8|      -73.980072|      40.743137|       -73.982712|       40.735336|
|2D4B95E2FA7B2E851...|CD2F522EEE1FF5F5A...|      CMT|        1|                 N|2013-01-07 15:33:28|2013-01-07 15:49:26|              2|              957|          2.5|      -73.977936|      40.786983|       -73.952919|        40.80637|
|E12F6AF991172EAC3...|06918214E951FA000...|      CMT|        1|                 N|2013-01-08 13:11:52|2013-01-08 13:19:50|              1|              477|          1.3|      -73.982452|      40.773167|       -73.964134|       40.773815|
|E12F6AF991172EAC3...|06918214E951FA000...|      CMT|        1|                 N|2013-01-08 09:50:05|2013-01-08 10:02:54|              1|              768|          0.7|       -73.99556|      40.749294|       -73.988686|       40.759052|
|78FFD9CD0CDA541F3...|E949C583ECF62C8F0...|      CMT|        1|                 N|2013-01-10 12:07:08|2013-01-10 12:17:29|              1|              620|          2.3|      -73.971497|      40.791321|       -73.964478|       40.775921|
|237F49C3ECC11F502...|93C363DDF8ED9385D...|      CMT|        1|                 N|2013-01-07 07:35:47|2013-01-07 07:46:00|              1|              612|          2.3|       -73.98851|      40.774307|       -73.981094|       40.755325|
|3349F919AA8AE5DC9...|7CE849FEF67514F08...|      CMT|        1|                 N|2013-01-10 15:42:29|2013-01-10 16:04:02|              1|             1293|          3.2|      -73.994911|      40.723221|       -73.971558|       40.761612|
|3349F919AA8AE5DC9...|7CE849FEF67514F08...|      CMT|        1|                 N|2013-01-10 14:27:28|2013-01-10 14:45:21|              1|             1073|          4.4|      -74.010391|      40.708702|       -73.987846|       40.756104|
|4C005EEBAA7BF26B8...|351BE7D984BE17DB2...|      CMT|        1|                 N|2013-01-07 22:09:59|2013-01-07 22:19:50|              1|              591|          1.7|      -73.973732|      40.756287|       -73.998413|       40.756832|
|7D99C30FCE69B1A9D...|460C3F57DD9CB2265...|      CMT|        1|                 N|2013-01-07 17:18:16|2013-01-07 17:20:55|              1|              158|          0.7|      -73.968925|      40.767704|        -73.96199|       40.776566|
|E6FBF80668FE0611A...|36773E80775F26CD1...|      CMT|        1|                 N|2013-01-07 06:08:51|2013-01-07 06:13:14|              1|              262|          1.7|       -73.96212|      40.769737|       -73.979561|        40.75539|
|0C5296F3C8B16E702...|D2363240A9295EF57...|      CMT|        1|                 N|2013-01-07 22:25:46|2013-01-07 22:36:56|              1|              669|          2.3|      -73.989708|      40.756714|       -73.977615|       40.787575|
+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+

In [7]:
query="SELECT medallion from trip LIMIT 20"
fareData = spark.sql(query)
fareData.show()

+--------------------+
|           medallion|
+--------------------+
|89D227B655E5C82AE...|
|0BD7C8F5BA12B88E0...|
|0BD7C8F5BA12B88E0...|
|DFD2202EE08F7A8DC...|
|DFD2202EE08F7A8DC...|
|20D9ECB2CA0767CF7...|
|496644932DF393260...|
|0B57B9633A2FECD3D...|
|2C0E91FF20A856C89...|
|2D4B95E2FA7B2E851...|
|E12F6AF991172EAC3...|
|E12F6AF991172EAC3...|
|78FFD9CD0CDA541F3...|
|237F49C3ECC11F502...|
|3349F919AA8AE5DC9...|
|3349F919AA8AE5DC9...|
|4C005EEBAA7BF26B8...|
|7D99C30FCE69B1A9D...|
|E6FBF80668FE0611A...|
|0C5296F3C8B16E702...|
+--------------------+

In [8]:
query="SELECT medallion,trip_distance from trip LIMIT 20"
fareData = spark.sql(query)
fareData.show()

+--------------------+-------------+
|           medallion|trip_distance|
+--------------------+-------------+
|89D227B655E5C82AE...|          1.0|
|0BD7C8F5BA12B88E0...|          1.5|
|0BD7C8F5BA12B88E0...|          1.1|
|DFD2202EE08F7A8DC...|          0.7|
|DFD2202EE08F7A8DC...|          2.1|
|20D9ECB2CA0767CF7...|          1.7|
|496644932DF393260...|          0.8|
|0B57B9633A2FECD3D...|         10.7|
|2C0E91FF20A856C89...|          0.8|
|2D4B95E2FA7B2E851...|          2.5|
|E12F6AF991172EAC3...|          1.3|
|E12F6AF991172EAC3...|          0.7|
|78FFD9CD0CDA541F3...|          2.3|
|237F49C3ECC11F502...|          2.3|
|3349F919AA8AE5DC9...|          3.2|
|3349F919AA8AE5DC9...|          4.4|
|4C005EEBAA7BF26B8...|          1.7|
|7D99C30FCE69B1A9D...|          0.7|
|E6FBF80668FE0611A...|          1.7|
|0C5296F3C8B16E702...|          2.3|
+--------------------+-------------+

In [9]:
query="SELECT medallion,trip_distance from trip WHERE trip_distance > 2.3 LIMIT 20"
fareData = spark.sql(query)
fareData.show()

+--------------------+-------------+
|           medallion|trip_distance|
+--------------------+-------------+
|0B57B9633A2FECD3D...|         10.7|
|2D4B95E2FA7B2E851...|          2.5|
|3349F919AA8AE5DC9...|          3.2|
|3349F919AA8AE5DC9...|          4.4|
|D8AADA4E722C87C10...|         17.5|
|B6FC8357E0D53B0F1...|          3.8|
|8E189DABE265CC03F...|         10.2|
|F1EF8290A54338B13...|          6.5|
|0F9E0728AB1E40D5C...|          2.8|
|33A0B414EB87DB253...|          5.2|
|24B56A4A0AC119529...|          2.4|
|7E3256C342CAFB3C2...|          5.5|
|764CA5AE502C0FEC9...|          3.3|
|CD9DEF073BAB75B8B...|         11.2|
|DD98E2C3AF5C47B44...|          3.0|
|26FC1764E8F96A823...|          4.5|
|4A4DA06C65CFA356C...|          2.5|
|99115D1EA0AE33939...|          5.7|
|8F9B593AE29F10B40...|         10.3|
|D8AADA4E722C87C10...|          5.9|
+--------------------+-------------+

### Count Statement

In [10]:
query="SELECT COUNT(*) from trip "
fareData = spark.sql(query)
fareData.show()

+--------+
|count(1)|
+--------+
|14776615|
+--------+

In [11]:
query="SELECT COUNT(trip_distance) from trip WHERE trip_distance ==2.3 "
fareData = spark.sql(query)
fareData.show()

+--------------------+
|count(trip_distance)|
+--------------------+
|              152938|
+--------------------+

## Distinct Statement

In [12]:
query="SELECT DISTINCT trip_distance from trip"
fareData = spark.sql(query)
fareData.show()

+-------------+
|trip_distance|
+-------------+
|        10.65|
|         0.66|
|         2.86|
|         3.26|
|        17.56|
|         9.13|
|         14.9|
|        17.52|
|        12.32|
|        17.95|
|         8.51|
|        19.98|
|        23.04|
|         13.4|
|         15.5|
|        26.72|
|         26.7|
|        40.53|
|         49.8|
|         76.4|
+-------------+
only showing top 20 rows

### Order BY Statement

#### SELECT   select_list FROM   table_name ORDER BY

In [13]:
query="SELECT pickup_datetime from trip ORDER BY pickup_datetime DESC"
fareData = spark.sql(query)
fareData.show()

+-------------------+
|    pickup_datetime|
+-------------------+
|2013-01-31 23:59:59|
|2013-01-31 23:59:59|
|2013-01-31 23:59:58|
|2013-01-31 23:59:58|
|2013-01-31 23:59:58|
|2013-01-31 23:59:58|
|2013-01-31 23:59:56|
|2013-01-31 23:59:55|
|2013-01-31 23:59:55|
|2013-01-31 23:59:55|
|2013-01-31 23:59:55|
|2013-01-31 23:59:55|
|2013-01-31 23:59:54|
|2013-01-31 23:59:54|
|2013-01-31 23:59:53|
|2013-01-31 23:59:53|
|2013-01-31 23:59:53|
|2013-01-31 23:59:53|
|2013-01-31 23:59:51|
|2013-01-31 23:59:51|
+-------------------+
only showing top 20 rows

### Alias Table Name
### SELECT * FROM table_name [AS] alias_name

In [14]:
query="SELECT * from trip t LIMIT 20" # AS can be dropped
fareData = spark.sql(query)
fareData.show()

+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
|           medallion|        hack_license|vendor_id|rate_code|store_and_fwd_flag|    pickup_datetime|   dropoff_datetime|passenger_count|trip_time_in_secs|trip_distance|pickup_longitude|pickup_latitude|dropoff_longitude|dropoff_latitude|
+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|
|0BD7C8F5BA12B88E0...|9FD8F69F0804BDB55...|      CMT|        1|                 N|2013-01-06 00:18:35|2013-01-06 00:22:54|              1|              259|          1.5|      -74.006683|      40.731781|       -73.994499|        40.75066|
|0BD7C8F5BA12B88E0...|9FD8F69F0804BDB55...|      CMT|        1|                 N|2013-01-05 18:49:41|2013-01-05 18:54:23|              1|              282|          1.1|      -74.004707|       40.73777|       -74.009834|       40.726002|
|DFD2202EE08F7A8DC...|51EE87E3205C985EF...|      CMT|        1|                 N|2013-01-07 23:54:15|2013-01-07 23:58:20|              2|              244|          0.7|      -73.974602|      40.759945|       -73.984734|       40.759388|
|DFD2202EE08F7A8DC...|51EE87E3205C985EF...|      CMT|        1|                 N|2013-01-07 23:25:03|2013-01-07 23:34:24|              1|              560|          2.1|       -73.97625|      40.748528|       -74.002586|       40.747868|
|20D9ECB2CA0767CF7...|598CCE5B9C1918568...|      CMT|        1|                 N|2013-01-07 15:27:48|2013-01-07 15:38:37|              1|              648|          1.7|      -73.966743|      40.764252|       -73.983322|       40.743763|
|496644932DF393260...|513189AD756FF14FE...|      CMT|        1|                 N|2013-01-08 11:01:15|2013-01-08 11:08:14|              1|              418|          0.8|      -73.995804|      40.743977|       -74.007416|       40.744343|
|0B57B9633A2FECD3D...|CCD4367B417ED6634...|      CMT|        1|                 N|2013-01-07 12:39:18|2013-01-07 13:10:56|              3|             1898|         10.7|      -73.989937|      40.756775|        -73.86525|        40.77063|
|2C0E91FF20A856C89...|1DA2F6543A62B8ED9...|      CMT|        1|                 N|2013-01-07 18:15:47|2013-01-07 18:20:47|              1|              299|          0.8|      -73.980072|      40.743137|       -73.982712|       40.735336|
|2D4B95E2FA7B2E851...|CD2F522EEE1FF5F5A...|      CMT|        1|                 N|2013-01-07 15:33:28|2013-01-07 15:49:26|              2|              957|          2.5|      -73.977936|      40.786983|       -73.952919|        40.80637|
|E12F6AF991172EAC3...|06918214E951FA000...|      CMT|        1|                 N|2013-01-08 13:11:52|2013-01-08 13:19:50|              1|              477|          1.3|      -73.982452|      40.773167|       -73.964134|       40.773815|
|E12F6AF991172EAC3...|06918214E951FA000...|      CMT|        1|                 N|2013-01-08 09:50:05|2013-01-08 10:02:54|              1|              768|          0.7|       -73.99556|      40.749294|       -73.988686|       40.759052|
|78FFD9CD0CDA541F3...|E949C583ECF62C8F0...|      CMT|        1|                 N|2013-01-10 12:07:08|2013-01-10 12:17:29|              1|              620|          2.3|      -73.971497|      40.791321|       -73.964478|       40.775921|
|237F49C3ECC11F502...|93C363DDF8ED9385D...|      CMT|        1|                 N|2013-01-07 07:35:47|2013-01-07 07:46:00|              1|              612|          2.3|       -73.98851|      40.774307|       -73.981094|       40.755325|
|3349F919AA8AE5DC9...|7CE849FEF67514F08...|      CMT|        1|                 N|2013-01-10 15:42:29|2013-01-10 16:04:02|              1|             1293|          3.2|      -73.994911|      40.723221|       -73.971558|       40.761612|
|3349F919AA8AE5DC9...|7CE849FEF67514F08...|      CMT|        1|                 N|2013-01-10 14:27:28|2013-01-10 14:45:21|              1|             1073|          4.4|      -74.010391|      40.708702|       -73.987846|       40.756104|
|4C005EEBAA7BF26B8...|351BE7D984BE17DB2...|      CMT|        1|                 N|2013-01-07 22:09:59|2013-01-07 22:19:50|              1|              591|          1.7|      -73.973732|      40.756287|       -73.998413|       40.756832|
|7D99C30FCE69B1A9D...|460C3F57DD9CB2265...|      CMT|        1|                 N|2013-01-07 17:18:16|2013-01-07 17:20:55|              1|              158|          0.7|      -73.968925|      40.767704|        -73.96199|       40.776566|
|E6FBF80668FE0611A...|36773E80775F26CD1...|      CMT|        1|                 N|2013-01-07 06:08:51|2013-01-07 06:13:14|              1|              262|          1.7|       -73.96212|      40.769737|       -73.979561|        40.75539|
|0C5296F3C8B16E702...|D2363240A9295EF57...|      CMT|        1|                 N|2013-01-07 22:25:46|2013-01-07 22:36:56|              1|              669|          2.3|      -73.989708|      40.756714|       -73.977615|       40.787575|
+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+

In [7]:
query="SELECT t.pickup_datetime from trip t LIMIT 20"
fareData = spark.sql(query)
fareData.show()

+-------------------+
|    pickup_datetime|
+-------------------+
|2013-01-01 15:11:48|
|2013-01-06 00:18:35|
|2013-01-05 18:49:41|
|2013-01-07 23:54:15|
|2013-01-07 23:25:03|
|2013-01-07 15:27:48|
|2013-01-08 11:01:15|
|2013-01-07 12:39:18|
|2013-01-07 18:15:47|
|2013-01-07 15:33:28|
|2013-01-08 13:11:52|
|2013-01-08 09:50:05|
|2013-01-10 12:07:08|
|2013-01-07 07:35:47|
|2013-01-10 15:42:29|
|2013-01-10 14:27:28|
|2013-01-07 22:09:59|
|2013-01-07 17:18:16|
|2013-01-07 06:08:51|
|2013-01-07 22:25:46|
+-------------------+

### Cross Joint

![Cross joint](../crossjoint3.png)

In [5]:
query="SELECT * from trip CROSS JOIN fare"
fareData = spark.sql(query)
fareData.show()

+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+--------------------+--------------------+----------+-------------------+-------------+------------+----------+--------+-----------+-------------+-------------+
|           medallion|        hack_license|vendor_id|rate_code|store_and_fwd_flag|    pickup_datetime|   dropoff_datetime|passenger_count|trip_time_in_secs|trip_distance|pickup_longitude|pickup_latitude|dropoff_longitude|dropoff_latitude|           medallion|        hack_license| vendor_id|    pickup_datetime| payment_type| fare_amount| surcharge| mta_tax| tip_amount| tolls_amount| total_amount|
+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+--------------------+--------------------+----------+-------------------+-------------+------------+----------+--------+-----------+-------------+-------------+
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|89D227B655E5C82AE...|BA96DE419E711691B...|       CMT|2013-01-01 15:11:48|          CSH|         6.5|       0.0|     0.5|        0.0|          0.0|          7.0|
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|0BD7C8F5BA12B88E0...|9FD8F69F0804BDB55...|       CMT|2013-01-06 00:18:35|          CSH|         6.0|       0.5|     0.5|        0.0|          0.0|          7.0|
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|0BD7C8F5BA12B88E0...|9FD8F69F0804BDB55...|       CMT|2013-01-05 18:49:41|          CSH|         5.5|       1.0|     0.5|        0.0|          0.0|          7.0|
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|DFD2202EE08F7A8DC...|51EE87E3205C985EF...|       CMT|2013-01-07 23:54:15|          CSH|         5.0|       0.5|     0.5|        0.0|          0.0|          6.0|
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|DFD2202EE08F7A8DC...|51EE87E3205C985EF...|       CMT|2013-01-07 23:25:03|          CSH|         9.5|       0.5|     0.5|        0.0|          0.0|         10.5|
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|20D9ECB2CA0767CF7...|598CCE5B9C1918568...|       CMT|2013-01-07 15:27:48|          CSH|         9.5|       0.0|     0.5|        0.0|          0.0|         10.0|
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|496644932DF393260...|513189AD756FF14FE...|       CMT|2013-01-08 11:01:15|          CSH|         6.0|       0.0|     0.5|        0.0|          0.0|          6.5|
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|0B57B9633A2FECD3D...|CCD4367B417ED6634...|       CMT|2013-01-07 12:39:18|          CSH|        34.0|       0.0|     0.5|        0.0|          4.8|         39.3|
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|2C0E91FF20A856C89...|1DA2F6543A62B8ED9...|       CMT|2013-01-07 18:15:47|          CSH|         5.5|       1.0|     0.5|        0.0|          0.0|          7.0|
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|2D4B95E2FA7B2E851...|CD2F522EEE1FF5F5A...|       CMT|2013-01-07 15:33:28|          CSH|        13.0|       0.0|     0.5|        0.0|          0.0|         13.5|
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|E12F6AF991172EAC3...|06918214E951FA000...|       CMT|2013-01-08 13:11:52|          CSH|         7.5|       0.0|     0.5|        0.0|          0.0|          8.0|
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|E12F6AF991172EAC3...|06918214E951FA000...|       CMT|2013-01-08 09:50:05|          CSH|         9.0|       0.0|     0.5|        0.0|          0.0|          9.5|
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|78FFD9CD0CDA541F3...|E949C583ECF62C8F0...|       CMT|2013-01-10 12:07:08|          CSH|         9.5|       0.0|     0.5|        0.0|          0.0|         10.0|
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|237F49C3ECC11F502...|93C363DDF8ED9385D...|       CMT|2013-01-07 07:35:47|          CSH|        10.0|       0.0|     0.5|        0.0|          0.0|         10.5|
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|3349F919AA8AE5DC9...|7CE849FEF67514F08...|       CMT|2013-01-10 15:42:29|          CSH|        15.5|       0.0|     0.5|        0.0|          0.0|         16.0|
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|3349F919AA8AE5DC9...|7CE849FEF67514F08...|       CMT|2013-01-10 14:27:28|          CSH|        16.5|       0.0|     0.5|        0.0|          0.0|         17.0|
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|4C005EEBAA7BF26B8...|351BE7D984BE17DB2...|       CMT|2013-01-07 22:09:59|          CSH|         9.0|       0.5|     0.5|        0.0|          0.0|         10.0|
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|7D99C30FCE69B1A9D...|460C3F57DD9CB2265...|       CMT|2013-01-07 17:18:16|          CSH|         4.5|       1.0|     0.5|        0.0|          0.0|          6.0|
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|E6FBF80668FE0611A...|36773E80775F26CD1...|       CMT|2013-01-07 06:08:51|          CSH|         7.0|       0.0|     0.5|        0.0|          0.0|          7.5|
|89D227B655E5C82AE...|BA96DE419E711691B...|      CMT|        1|                 N|2013-01-01 15:11:48|2013-01-01 15:18:10|              4|              382|          1.0|      -73.978165|      40.757977|       -73.989838|       40.751171|0C5296F3C8B16E702...|D2363240A9295EF57...|       CMT|2013-01-07 22:25:46|          CSH|        10.5|       0.5|     0.5|        0.0|          0.0|         11.5|
+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+--------------------+--------------------+----------+-------------------+-------------+------------+----------+--------+-----------+-------------+-------------+
only showing top 20 rows

In [8]:
sqlStatement = """SELECT t.medallion, 
  t.passenger_count, t.trip_distance, t.trip_time_in_secs 
  FROM trip t, fare f  
  WHERE t.medallion = f.medallion
  AND t.passenger_count > 0 and t.passenger_count < 8 
  AND t.trip_distance <= 100 AND t.trip_time_in_secs >= 30 
  AND t.trip_time_in_secs <= 7200 AND t.rate_code <= 5
  """
trip_fareDF = spark.sql(sqlStatement)

In [9]:
trip_fareDF.show()

+--------------------+---------------+-------------+-----------------+
|           medallion|passenger_count|trip_distance|trip_time_in_secs|
+--------------------+---------------+-------------+-----------------+
|06EAD4C8D98202F1E...|              1|          5.4|             1011|
|06EAD4C8D98202F1E...|              1|          5.4|             1011|
|06EAD4C8D98202F1E...|              1|          5.4|             1011|
|06EAD4C8D98202F1E...|              1|          5.4|             1011|
|06EAD4C8D98202F1E...|              1|          5.4|             1011|
|06EAD4C8D98202F1E...|              1|          5.4|             1011|
|06EAD4C8D98202F1E...|              1|          5.4|             1011|
|06EAD4C8D98202F1E...|              1|          5.4|             1011|
|06EAD4C8D98202F1E...|              1|          5.4|             1011|
|06EAD4C8D98202F1E...|              1|          5.4|             1011|
|06EAD4C8D98202F1E...|              1|          5.4|             1011|
|06EAD4C8D98202F1E...|              1|          5.4|             1011|
|06EAD4C8D98202F1E...|              1|          5.4|             1011|
|06EAD4C8D98202F1E...|              1|          5.4|             1011|
|06EAD4C8D98202F1E...|              1|          5.4|             1011|
|06EAD4C8D98202F1E...|              1|          5.4|             1011|
|06EAD4C8D98202F1E...|              1|          5.4|             1011|
|06EAD4C8D98202F1E...|              1|          5.4|             1011|
|06EAD4C8D98202F1E...|              1|          5.4|             1011|
|06EAD4C8D98202F1E...|              1|          5.4|             1011|
+--------------------+---------------+-------------+-----------------+
only showing top 20 rows